{% extends 'home.html' %}
{% load static %}
{% block image %}
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-5 p-5">
            <form enctype="multipart/form-data" method="post">
                <p>{{ form.errors }}</p>
                {{ form.as_p }}
                <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark rounded-0">Save</button>
                <a href="{% url 'user:profile' %}" class="btn btn-outline-secondary rounded-0">Cancel</a>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

