@font-face {
    font-family: 'ISOCT';
    src: url('./ISOCT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.isoct {
    font-family: 'ISOCT';
    font-weight: normal;
    font-style: normal;
}

.sticky-offset {
    border-top: 3;
    border-color: white;
    top: 40px;
}
.bg-dark2{
     background-color: #242028;
}

.fss{
  --bs-link-hover-color #0242028;
}

.profile-img{
    height: 100px;
    width: 100px;
}

.sm-profile{
    height: 22px;
    width: 22px;
}

.txt-sh {
  text-shadow: 0.5px 0.5px rgb(0,0,0);
}