<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Heko</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'default/styles.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}" ></script>
</head>
<body class="">
<nav class="navbar bg-dark p-2 fixed-top">
    <a class="nav-link active text-white isoct fw-bold" aria-current="page" href="{% url 'product:home' %}">Heko</a>
    <a class="btn btn-sm btn-outline-light" aria-current="page" href="#">Shopping</a>
</nav>
<div></div>
{% block image %}
<img src="{% static 'default/bg.png' %}" class="w-100" alt="...">
{% endblock %}
<ul class="nav bg-dark2 justify-content-center isoct fw-bold p-2 sticky-top sticky-offset">
    <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" href="{% url 'product:home' %}">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">CATEGORIES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">ALL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">ABOUT US</a>
    </li>
</ul>
{% block head %}
<h1 class="text-center isoct fw-bold mt-3 p-3">UNIQUE HANDMADE HOME DECORATIONS</h1>
<h3 class="text-center isoct fw-bold p-2">Check it below</h3>
<img src="{% static 'default/sl.png' %}" class="w-50 mx-auto d-block" alt="...">
{% endblock %}

<div class="container pb-5 mb-5 ml-5">
    <div class="row mb-5">
    {% block content %}
        {% for product in f_products %}
        <div class="col-4 mt-5">
            <div class="card rounded-0">
              <img src="{{ product.images.first.image.url }}" class="card-img-top rounded-0" style="height:300px" alt="...">
              <div class="card-body">
                <p class="card-text">{{ product.description|slice:120 }} ...</p>
              </div>
            </div>
            <div class="text-center mt-4">
                <a href="{{ product.get_absolute_url }}" class="btn btn-lg btn-outline-dark rounded-0">Check it</a>
            </div>
        </div>
        {% endfor %}
        <hr class="mt-5">
        <div class="text-center mt-4">
            <a href="{% url 'product:products' %}" class="btn btn-lg btn-outline-dark rounded-0">M O R E</a>
        </div>
    {% endblock %}
    </div>
</div>
</body>
</html>